.color-0 {
	color: #CACACA;
}
.color-1 {
	color: #FFFFFF;
}
.color-2 {
	color: #1EFF00;
}
.color-3 {
	color: #0070DD;
}
.color-4 {
	color: #B035EE;
}
.color-5 {
	color: #FF8000;
}
.color-6 {
	color: #FF8000;
}
.color-7 {
	color: #FF8000;
}
.color-8 {
	color: #FF8000;
}
.color-9 {
	color: #FF8000;
}
.color-a {
	color: #000000;
}
.color-b {
	color: #3F3F3F;
}
.color-c {
	color: #676767;
}
.color-d {
	color: #7D0000;
}
.color-e {
	color: #8E3434;
}
.color-f {
	color: #A34F00;
}
.color-g {
	color: #725437;
}
.color-h {
	color: #A88600;
}
.color-i {
	color: #B2934A;
}
.color-j {
	color: #939500;
}
.color-k {
	color: #495225;
}
.color-l {
	color: #299400;
}
.color-m {
	color: #23381B;
}
.color-n {
	color: #00535B;
}
.color-o {
	color: #324A4C;
}
.color-p {
	color: #0073A6;
}
.color-q {
	color: #385A6C;
}
.color-r {
	color: #010067;
}
.color-s {
	color: #507AA1;
}
.color-t {
	color: #601C81;
}
.color-u {
	color: #43314C;
}
.color-v {
	color: #8C0069;
}
.color-w {
	color: #973984;
}
.color-x {
	color: #880024;
}
.color-y {
	color: #762E4A;
}
.color-z {
	color: #101215;
}
.color-aa {
	color: #FFFFFF;
}
.color-bb {
	color: #CACACA;
}
.color-cc {
	color: #9B9B9B;
}
.color-dd {
	color: #FF0000;
}
.color-ee {
	color: #FF8383;
}
.color-ff {
	color: #FF8000;
}
.color-gg {
	color: #F3AA6F;
}
.color-hh {
	color: #FBC803;
}
.color-ii {
	color: #FFD863;
}
.color-jj {
	color: #FFF404;
}
.color-kk {
	color: #F3F998;
}
.color-ll {
	color: #1EFF00;
}
.color-mm {
	color: #B3FF9B;
}
.color-nn {
	color: #00FFFF;
}
.color-oo {
	color: #8FE6FF;
}
.color-pp {
	color: #0070DD;
}
.color-qq {
	color: #A4E3FF;
}
.color-rr {
	color: #0000FF;
}
.color-ss {
	color: #7AB2F4;
}
.color-tt {
	color: #B035EE;
}
.color-uu {
	color: #E6C4FF;
}
.color-vv {
	color: #FF00EC;
}
.color-ww {
	color: #FF96E0;
}
.color-xx {
	color: #FF0070;
}
.color-yy {
	color: #FF6A98;
}
.color-zz {
	color: #0C112B;
}